.card{
    width: 45%;
    height: 200px;
    display: flex;
    .square{
        width: 90px;
        height: 90px;
        background-color: #232323;
    }
    .content{
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        width: 70%;
        h2{
            color: #666666;
            font-size: 20px;
            font-weight: 500;
        }
        p{
            color: #666666;
            font-size: 14px;
            margin-top: 20px;
        }
        a{
            font-size: 14px;
            color: #FF9900;
            align-self: end;
            margin-top: 20px;
        }
    }
}